apiVersion: operator.fabric.hyperledger.org/v1alpha1
kind: Agent
metadata:
  name: {{ agentname }}
spec:
  organization: {{ orgname }}
  cleanup: {{ cleanupflag | default(true) }}
  actions:
  - name: channelquery
    description: query channel configuration
    parameters:
      channelName: mychannel
      ordererNode: {{ orderernode }}
