apiVersion: operator.fabric.hyperledger.org/v1alpha1
kind: Agent
metadata:
  name: {{ agentname }}
spec:
  organization: {{ orgname }}
  cleanup: {{ cleanupflag | default(true) }}
  actions:
  - name: channeljoin
    description: join a peer to the channel
    parameters:
      channelName: mychannel
      ordererNode: {{ orderernode }}
      peerNode: {{ peernode }}
