apiVersion: operator.fabric.hyperledger.org/v1alpha1
kind: Agent
metadata:
  name: {{ agentname }}
spec:
  organization: {{ orgname }}
  cleanup: {{ cleanupflag | default(true) }}
  actions:
  - name: nodeimport
    description: import nodes and their certificates
    parameters:
      assetname: {{ assetname }}
