apiVersion: operator.fabric.hyperledger.org/v1alpha1
kind: Agent
metadata:
  name: orderorgagent
  namespace: org1space
spec:
  organization: ordererorg.com
  cleanup: false
  actions:
  - name: assetgen
    description: Generate asset file
    parameters:
      assettypes: ['ca', 'orderer', 'peer']
      channelName: 'systemchannel'
      includewallets: 'no'
