apiVersion: operator.fabric.hyperledger.org/v1alpha1
kind: Agent
metadata:
  name: {{ agentname }}
spec:
  organization: {{ orgname }}
  cleanup: {{ cleanupflag | default(true) }}
  actions:
  - name: assetgen
    description: Generate asset file
    parameters:
      assettypes: ['ca', 'orderer', 'peer']
      channelName: 'mychannel'
      includewallets: {{ includewallets|default('no') }}
