apiVersion: operator.fabric.hyperledger.org/v1alpha1
kind: CA
metadata:
  name: "{{ fabricnode.prefix }}-{{ nodeindex }}"
spec:
  # Add fields here
  organization: {{ orgname }}
  nodeCert:
  release: 1.5.0
  storage: 1Gi
  logLevel: DEBUG