apiVersion: operator.fabric.hyperledger.org/v1alpha1
kind: Console
metadata:
  name: {{ consolename }}
spec:
  # Add fields here
  organization: {{ orgname }}
  nodeCert:
  release: 2.3.2
  storage: 1Gi
  logLevel: ERROR
