apiVersion: operator.fabric.hyperledger.org/v1alpha1
kind: Agent
metadata:
  name: {{ agent_name }}
spec:
  organization: {{ orgname }}
  actions:
  - name: channelcreate
    description: Create new channel
    parameters:
      channelName: mychannel
      ordererNode: {{ orderer_node }}
      additionalOrgs: []
  - name: channeljoin
    description: join a peer to the channel
    parameters:
      channelName: mychannel
      ordererNode: {{ orderer_node }}
      peerNode: {{ peer_node }}
  - name: channelquery
    description: query channel configuration
    parameters:
      channelName: mychannel
      ordererNode: {{ orderer_node }}
