apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: '{{ ansible_operator_meta.name }}-gateway'
  namespace: '{{ ansible_operator_meta.namespace }}'
spec:
  selector:
    istio: ingressgateway
  servers:
{% for aport in EXT_PORTS %}
  - port:
      number: {{ aport|int }}
      name: tcp{{ aport }}
      protocol: TCP
    hosts:
    - '{{ (NODE_HOSTNAME=="")|ternary("*", NODE_HOSTNAME) }}'
{% endfor %}