apiVersion: v1
kind: Service
metadata:
  name: "{{ istio_svc.resources[0].metadata.name }}"
  namespace: "{{ istio_svc.resources[0].metadata.namespace }}"
  resourceVersion: '{{ istio_svc.resources[0].metadata.resourceVersion }}'
spec:
  ports:
{% for aport in EXT_PORTS %}
  - name: tcp{{ aport }}
    port: {{ aport | int }}
    protocol: TCP
    targetPort: {{ aport | int }}
{% endfor %}