apiVersion: 'networking.istio.io/v1beta1'
kind: VirtualService
metadata:
  name: '{{ ansible_operator_meta.name }}-virtualservice'
  namespace: '{{ ansible_operator_meta.namespace }}'
spec:
  hosts:
  - '{{ (NODE_HOSTNAME=="")|ternary("*", NODE_HOSTNAME) }}'
  gateways:
  - '{{ ansible_operator_meta.name }}-gateway'
  tcp:
{% for aport in EXT_PORTS %}
  - match:
    - port: {{ aport|int }}
    route:
    - destination:
        host: '{{ ansible_operator_meta.name }}'
        port:
          number: {{ TARGET_PORTS[loop.index0] | int }}
{% endfor %}
