apiVersion: v1
kind: Deployment
metadata:
  name: {{ istio_deplyment_name }}
  namespace: {{ istio_namespace }}
spec:
  template:
    spec:
      containers:
      - name: istio-proxy
        ports:
        - containerPort: {{ ext_port | int }}
          protocol: TCP
