apiVersion: v1
kind: Service
metadata:
  name: "{{ istio_service_name }}"
  namespace: "{{ istio_namespace }}"
spec:
  ports:
  - name: tcp{{ thegateway.resources[0].spec.servers[0].port.number }}
    port: {{ thegateway.resources[0].spec.servers[0].port.number }}
    protocol: TCP
    targetPort: {{ thegateway.resources[0].spec.servers[0].port.number }}
    $patch: delete