apiVersion: v1
kind: Service
metadata:
  name: "{{ istio_service_name }}"
  namespace: "{{ istio_namespace }}"
spec:
  ports:
  - name: tcp{{ ext_port }}
    port: {{ ext_port | int }}
    protocol: TCP
    targetPort: {{ ext_port | int }}
