apiVersion: v1
kind: ConfigMap
metadata:
  name: fabric-tcp-services
  namespace: {{ theconfigmap.resources[0].metadata.namespace }}
data:
  $patch: replace
{% for aport in served %}
{%   if aport.value is not match(entryprefix) %}
  {{ aport.key }}: {{ aport.value }}
{%   endif %}
{%  endfor %}