Organizations:
- &{{ mspid }}
  Name: {{ mspid }}
  ID: {{ mspid }}
  MSPDir: {{ workdir }}/{{ nodename }}/msp
  Policies:
    Readers:
      Type: Signature
      Rule: "OR('{{ mspid }}.admin', '{{ mspid }}.peer', '{{ mspid }}.orderer')"
    Writers:
      Type: Signature
      Rule: "OR('{{ mspid }}.admin', '{{ mspid }}.peer', '{{ mspid }}.orderer')"
    Admins:
      Type: Signature
      Rule: "OR('{{ mspid }}.admin')"
    Endorsement:
      Type: Signature
      Rule: "OR('{{ mspid }}.peer')"
  OrdererEndpoints:
  - {{ iporhost }}:{{ EXT_PORTS[0] }}

Capabilities:
  Channel: &ChannelCapabilities
    V2_0: true
  Orderer: &OrdererCapabilities
    V2_0: true
  Application: &ApplicationCapabilities
    V2_0: true

Application: &ApplicationDefaults
  Organizations:

  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
    LifecycleEndorsement:
      Type: ImplicitMeta
      Rule: "MAJORITY Endorsement"
    Endorsement:
      Type: ImplicitMeta
      Rule: "MAJORITY Endorsement"

  Capabilities:
    <<: *ApplicationCapabilities
Orderer: &OrdererDefaults
  OrdererType: etcdraft
  Addresses:
  - {{ iporhost }}:{{ EXT_PORTS[0] }}

  EtcdRaft:
    Consenters:
    - Host: {{ iporhost }}:{{ EXT_PORTS[0] }}
      Port: {{ EXT_PORTS[0] }}       
      ClientTLSCert: {{ workdir }}/{{ nodename }}/tls/client.crt
      ServerTLSCert: {{ workdir }}/{{ nodename }}/tls/client.crt

  BatchTimeout: 2s
  BatchSize:
    MaxMessageCount: 10
    AbsoluteMaxBytes: 99 MB
    PreferredMaxBytes: 512 KB

  Organizations:

  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
    BlockValidation:
      Type: ImplicitMeta
      Rule: "ANY Writers"

Channel: &ChannelDefaults
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"

  Capabilities:
    <<: *ChannelCapabilities

Profiles:
  ApplicationGenesis:
    Consortium: FabricConsortium
    <<: *ChannelDefaults
    Application:
      <<: *ApplicationDefaults
      Organizations:
      - <<: *{{ mspid }}
      Capabilities:
        <<: *ApplicationCapabilities

  SystemChannel:
    <<: *ChannelDefaults
    Capabilities:
      <<: *ChannelCapabilities
    Orderer:
      <<: *OrdererDefaults
      OrdererType: etcdraft
      Organizations:
      - <<: *{{ mspid }}
      Capabilities:
        <<: *OrdererCapabilities
    Application:
      <<: *ApplicationDefaults
      Organizations:
      - <<: *{{ mspid }}
    Consortiums:
      FabricConsortium:
        Organizations:
        - <<: *{{ mspid }}

