Organizations:
- &{{ orgid }}
  Name: {{ orgid }}
  ID: {{ orgid }}
  MSPDir: {{ agentworkdir }}/{{ ordererNode }}/msp
  Policies:
    Readers:
      Type: Signature
      Rule: "OR('{{ orgid }}.admin', '{{ orgid }}.peer', '{{ orgid }}.orderer')"
    Writers:
      Type: Signature
      Rule: "OR('{{ orgid }}.admin', '{{ orgid }}.peer', '{{ orgid }}.orderer')"
    Admins:
      Type: Signature
      Rule: "OR('{{ orgid }}.admin')"
    Endorsement:
      Type: Signature
      Rule: "OR('{{ orgid }}.peer')"
  OrdererEndpoints:
  - {{ ordererid.endpoint }}

{% for org in additionalOrgs %}
{% set theattr = (lookup('file', agentworkdir+'/'+org+'/msp/id.json')|from_json)  %}
- &{{ theattr.mspid }}
  Name: {{ theattr.mspid }}
  ID: {{ theattr.mspid }}
  MSPDir: {{ agentworkdir }}/{{ org }}/msp
  Policies:
    Readers:
      Type: Signature
      Rule: "OR('{{ orgid }}.admin', '{{ orgid }}.peer', '{{ orgid }}.orderer')"
    Writers:
      Type: Signature
      Rule: "OR('{{ orgid }}.admin', '{{ orgid }}.peer', '{{ orgid }}.orderer')"
    Admins:
      Type: Signature
      Rule: "OR('{{ orgid }}.admin')"
    Endorsement:
      Type: Signature
      Rule: "OR('{{ orgid }}.peer')"

{% endfor %}

Capabilities:
  Channel: &ChannelCapabilities
    V2_0: true
  Orderer: &OrdererCapabilities
    V2_0: true
  Application: &ApplicationCapabilities
    V2_0: true

Application: &ApplicationDefaults
  Organizations:

  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
    LifecycleEndorsement:
      Type: ImplicitMeta
      Rule: "MAJORITY Endorsement"
    Endorsement:
      Type: ImplicitMeta
      Rule: "MAJORITY Endorsement"

  Capabilities:
    <<: *ApplicationCapabilities
Orderer: &OrdererDefaults
  OrdererType: etcdraft
  Addresses:
  - {{ ordererid.endpoint }}

  EtcdRaft:
    Consenters:
    - Host: {{ ordererNode }}.{{ ansible_operator_meta.namespace }}:7050
      Port: 7050        
      ClientTLSCert: {{ agentworkdir }}/{{ ordererNode }}/tls/client.crt
      ServerTLSCert: {{ agentworkdir }}/{{ ordererNode }}/tls/client.crt

  BatchTimeout: 2s
  BatchSize:
    MaxMessageCount: 10
    AbsoluteMaxBytes: 99 MB
    PreferredMaxBytes: 512 KB

  Organizations:

  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
    BlockValidation:
      Type: ImplicitMeta
      Rule: "ANY Writers"

Channel: &ChannelDefaults
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"

  Capabilities:
    <<: *ChannelCapabilities

Profiles:
  ApplicationGenesis:
    <<: *ChannelDefaults
    Orderer:
      <<: *OrdererDefaults
      Organizations:
      - *{{ orgid }}
      Capabilities: *OrdererCapabilities
    Application:
      <<: *ApplicationDefaults
      Organizations:
      - *{{ orgid }}
{% for org in additionalOrgs %}
{% set theattr = (lookup('file', agentworkdir+'/'+org+'/msp/id.json')|from_json) %}
      - *{{ theattr.mspid }}
{% endfor %}
      Capabilities: *ApplicationCapabilities
